<app-header></app-header>
<div class="container">
  <ng-container *ngIf="!isProcessing && !noIds; else processingOrError">
    <h1 class="text-center mb-4">Mettre le titre de votre demande</h1>
    <form [formGroup]="demandeForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="titre" class="form-label">Titre de la demande</label>
        <input type="text" class="form-control" id="titre" formControlName="titre">
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-success" [disabled]="demandeForm.invalid">Confirmer</button>
      </div>
    </form>
  </ng-container>

  <ng-template #processingOrError>
    <div *ngIf="isProcessing" class="row">
      <div class="col-md-6">
        <h1>En cours de traitement</h1>
        <p class="lead">Notre équipe examine votre dossier avec attention. Un conseiller vous contactera très prochainement.</p>
        <a  [routerLink]="'/Dashbord-Agriculteur-Accueil'" class="btn btn-custom btn-lg text-white">Suivre ma demande</a>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/image 10.svg" alt="Handshake" class="img-fluid rounded">
      </div>
    </div>

    <div *ngIf="noIds">
      <h5>Impossible de traiter votre demande. Vous n'avez pas bien ajouté les informations.</h5>
    </div>
  </ng-template>
</div>
