<!-- ressources.component.html --> <!--  
<div class="ressources">
    <h2>Ressources</h2>
    
    <div class="categories">
      <div class="semences">
        <h3>Semences</h3>
        <table>
          <tr>
            <th>Nom</th>
            <th>Variété</th>
            <th>Quantité</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let semence of ressource.semences">
            <td>
              <img [src]="semence.image" [alt]="semence.nom" class="ressource-image">
              {{semence.nom}}
            </td>
            <td>{{semence.variete}}</td>
            <td>{{semence.quantite}} kg</td>
            <td>
              <button (click)="modifierSemence(semence)">Modifier</button>
              <button (click)="supprimerSemence(semence)">Supprimer</button>
            </td>
          </tr>
        </table>
        <button (click)="ouvrirPopupAjout('semences')">Ajouter</button>
      </div>
  
      <div class="engrais">
        <h3>Engrais</h3>
        <table>
          <tr>
            <th>Nom</th>
            <th>Variété</th>
            <th>Quantité</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let engrais of ressource.engrais">
            <td>
              <img [src]="engrais.image" [alt]="engrais.nom" class="ressource-image">
              {{engrais.nom}}
            </td>
            <td>{{engrais.variete}}</td>
            <td>{{engrais.quantite}} kg</td>
            <td>
              <button (click)="modifierEngrais(engrais)">Modifier</button>
              <button (click)="supprimerEngrais(engrais)">Supprimer</button>
            </td>
          </tr>
        </table>
        <button (click)="ouvrirPopupAjout('engrais')">Ajouter</button>
      </div>
  
      <div class="equipements">
        <h3>Équipements</h3>
        <table>
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let equipement of ressource.equipements">
            <td>
              <img [src]="equipement.image" [alt]="equipement.nom" class="ressource-image">
              {{equipement.nom}}
            </td>
            <td>{{equipement.description}}</td>
            <td>
              <button (click)="modifierEquipement(equipement)">Modifier</button>
              <button (click)="supprimerEquipement(equipement)">Supprimer</button>
            </td>
          </tr>
        </table>
        <button (click)="ouvrirPopupAjout('equipements')">Ajouter</button>
      </div>
    </div>
  </div>
  
  <app-popup-ajout
    *ngIf="popupVisible"
    [type]="typePopup"
    [items]="itemsPopup"
    (selection)="selectionnerItem($event)"
    (fermeture)="fermerPopup()">
  </app-popup-ajout>
  -->