<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">

<a class="link-retour btn btn-success" [routerLink]="['/']" >  <i class="bi bi-arrow-left " style="size: 2rem;"> </i></a>
<div class="background"></div>


<div class="back ">
<div class="container align-items-center">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="auth-container p-4 position-relative">
          <h2 class="text-center mb-4">Bienvenue sur Géstu Mbay</h2>
          <ul class="nav nav-tabs mb-4" id="authTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link" (click)="showLogin()" [class.active]="isLogin">Connexion</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" (click)="showSignup()" [class.active]="isSignup">Inscription</button>
            </li>
          </ul>
          <div class="tab-content" id="authTabContent">
            <div class="form-container" *ngIf="isLogin">
              <app-connexion></app-connexion>
            </div>
            <div class="form-container" *ngIf="isSignup">
              <app-inscription></app-inscription>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>