<main class="p-4">
    <h2 class="mb-3 text-success">Ressources</h2>
    <ul class="nav nav-pills nav-justified mb-4 gap-2">
      <li class="nav-item ">
        <a [routerLink]="['Semences']" routerLinkActive="active" class="nav-link border border-success"
           style="background-color: #fff; color: #1f8226; font-weight: 300; font-size: 1.1rem;">Semences</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['Engrais']" routerLinkActive="active" class="nav-link border border-success"
           style="background-color: #fff; color: #1f8226; font-weight: 300; font-size: 1.1rem;">Engrais</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['Equipement']" routerLinkActive="active" class="nav-link border border-success"
           style="background-color: #fff; color: #1f8226 ; font-weight: 300; font-size: 1.1rem;">Équipement</a>
      </li>
    </ul>
    <!-- Contenu des routes -->
    <router-outlet></router-outlet>
  </main>
  